.movies {
}

.movies__not-found {
  text-align: center;
  font-size: 24px;
  line-height: normal;
}

.movies__not-found_hidden {
  display: none;
}

.movies__more {
  display: flex;
  justify-content: center;
}

.movies__more-btn {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background: #f9f9f9;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin: 60px 0 80px;
}

@media screen and (max-width: 1080px) {
  .movies__more-btn {
    margin-top: 55px;
  }

  .movies__more {
  }
}
