.not-found {
  display: flex;
  flex-direction: column;
  margin: 246px 0 60px;
}

.not-found__title {
  margin: 0;
  text-align: center;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
}

.not-found__text {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.not-found__button {
  padding-top: 184px;
  color: #3456f3;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
