.account-btn {
}

.account-btn__container {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

.account-btn__text {
  margin: 0;
  color: black;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.92; /* 92.308% */
}

.account-btn__icon {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-image: url(../../images/nav-profile-icon.svg);
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3px;
}

.header_dark .account-btn__container {
  background-color: #2be080;
}

@media screen and (max-width: 800px) {
  .account-btn {
    display: none;
  }
}
