.search {
  height: 217px;
  padding-top: 70px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 13px;
}

.search__input {
  border: none;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  color: #a0a0a0;
}

.search__button {
  width: 58.65px;
  height: 34px;
  border-radius: 48px;
  background: #3456f3;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.63; /* 163.636% */
}
