.search {
  height: 217px;
  padding-top: 70px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 13px;
}

.search__input {
  padding: 0;
  width: 200px;
  border: none;
  outline: none;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  color: #a0a0a0;
}

.search__button {
  width: 58.65px;
  height: 34px;
  border-radius: 48px;
  background: #3456f3;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.63; /* 163.636% */
}

@media screen and (max-width: 1080px) {
  .search {
    height: 228px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    padding: 84px 4px 0;
    height: 194px;
  }

  .search__form {
    padding-bottom: 10px;
    align-items: center;
  }

  .search__input {
    font-size: 18px;
  }
}
