.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  background: #fff;
  background-size: cover;
}

.header_dark {
  background: #073042;
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0 14px;
  }
}

