.register {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.register__container {
  padding-top: 10px;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0 16px;
}

.register__inputs {
  border: 0;
  margin: 0;
  padding: 0;
}

.register__input-title {
  color: #a0a0a0;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  padding-top: 24px;
  margin: 0;
}

.register__input {
  width: 100%;
  color: #000;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 0 10px;

  font-size: 14px;
  line-height: normal;
  &:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #3456f3;
  }
}

.register__input_error {
  color: #FF3055;
}

.register__submit-button {
  width: 396px;
  height: 45px;
  margin-top: 152px;
  border-radius: 3px;
  background: #3456f3;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.register__submit-button_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  cursor: auto;
  &:hover {
    opacity: 1;
  }
}

.register__text {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.register__login-link {
  color: #3456f3;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 600px) {
  .register__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 56px 0 18px;
  }

  .register__items {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .register__title {
    margin: 50px 0 0 0;
  }

  .register__form {
    width: 100%;
    align-self: flex-start;
    padding-top: 56px;
  }

  .register__submit-button {
    margin: 0;
    width: 260px;
    font-size: 12px;
  }

  .register__text,
  .register__login-link {
    font-size: 12px;
  }
}
