.nav-mobile {
  width: 520px;
  background: #fff;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile__menu {

}

.nav-mobile__close-btn {
  width: 22px;
  height: 22px;
  background-image: url(../../images/nav-mobile-close.svg);
  background-size: contain;
  align-self: self-end;
  margin: 22.44px 22.44px 0 0;
}

.nav-mobile__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;



  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.nav-mobile__item {
  color: #000000;
  position: relative;
}

.nav-mobile__item:after {
  display: block;
	position: absolute;
	left: 0;
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #000000; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/

}

.nav-mobile__item:hover:after,
.nav-mobile__item:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.nav-mobile__account {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  margin-bottom: 90px;
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

.nav-mobile__account-text {
  margin: 0;
  color: black;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.92; /* 92.308% */
}

.nav-mobile__account-icon {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-image: url(../../images/nav-profile-icon.svg);
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3px;
}

.nav-mobile_unauth {
  display: flex;
  align-items: center;
}

.nav-mobile__signup {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.nav-mobile__signin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background: #2be080;
  margin-left: 30px;

  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

/* .header_dark .nav-mobile__item {
  color: white;
}

.header_dark .nav-mobile__account {
  background-color: #2be080;
} */
